/* LAYOUT */

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f3f5f9;
    text-align: center;
    font: 300 20px/1.7 'Josefin Sans';
}

p {
    margin-bottom: 2em;
}

.wrapper {
    width: 80%;
    margin: 0 10%;
}

.container {
    margin: 5px;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: 20px;
}

.line {
    margin-bottom: 1em;
}


/*----*/


/* Navbar*/

.navbar {
    width: 100%;
    background: #c3c3c3;
    text-align: center;
}

.navbar ul {
    display: flex;
    align-content: space-between;
}

.item {
    width: 100%;
}

.item a {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
}

.item a:hover {
    color: #000;
}


/* ---- */


/* slider */


/* .slider {
    width: 75%;
    margin: auto;
    padding-bottom: .3em;
    overflow: hidden;
}

.list-items {
    display: flex;
    width: 600%;
    padding: .2em 0;
    animation: slider 40s infinite alternate cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.list-items:hover {
    cursor: pointer;
    animation-play-state: paused;
}

.list-items li {
    width: auto;
}

@keyframes slider {
    0% {
        margin-left: 0;
    }
    8.33% {
        margin-left: 0;
    }
    16.66% {
        margin-left: -100%;
    }
    24.99% {
        margin-left: -100%;
    }
    33.32% {
        margin-left: -200%;
    }
    41.65% {
        margin-left: -200%;
    }
    49.98% {
        margin-left: -300%;
    }
    58.31% {
        margin-left: -300%;
    }
    66.64% {
        margin-left: -400%;
    }
    74.97% {
        margin-left: -400%;
    }
    83.3% {
        margin-left: -500%;
    }
    91.63% {
        margin-left: -500%;
    }
    100% {
        margin-left: -600%;
    }
} */


/* POsts */

.videos {
    display: flex;
    align-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.audios {
    display: flex;
    align-content: space-between;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.post {
    width: 20em;
    height: 20em;
    padding: 15px;
    margin: 15px;
}

.post img {
    width: 100%;
    height: 12em;
}

.post p {
    font-size: 0.7em;
    text-align: justify;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

hr {
    height: 5px;
    background: #c3c3c3;
    border-radius: 5px;
    margin: 20px 0;
}

h2 {
    width: 100%;
    font-size: 1em;
}


/* --- */

#sobre {
    height: 100vh;
    margin-top: 40px;
}

.profile {
    display: flex;
}

.image-profile {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

.image-profile img {
    max-width: 200px;
    min-height: 200px;
    margin-bottom: 50px;
    padding-left: 10px;
    border-radius: 50%;
}

.text-profile {
    text-align: justify;
    max-width: 80%;
    padding-left: 20px;
}

.card {
    width: 93%;
    height: 20em;
    padding: .2em .5em;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: 0 1.9em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 20em;
    height: 10em;
}

.card-container {
    padding: 2px 16px;
    font-size: 0.8em;
    width: 40em;
}

.card-container p {
    text-align: justify;
    max-height: 30px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    margin: 0 auto;
}

.redes img {
    width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all 0.25s ease-in;
}

.redes img:hover {
    width: 30px;
    height: 30px;
}

.social {
    width: 100%;
    display: block;
}

.formulario {
    max-width: 350px;
    margin: 0 auto;
}

.formulario label {
    display: block;
    text-align: left;
}

.formulario input,
textarea {
    width: 85%;
    height: 35px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 3px;
}

textarea {
    height: auto;
}

button {
    width: 85%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    height: 2.5em;
    background: #c3c3c3;
    color: #fff;
    font-size: 1em;
}

#saiba-mais {
    padding-bottom: 20px;
}

#saiba-mais a {
    display: block;
    padding: 5px;
    color: #868686;
    text-decoration: none;
    text-transform: uppercase;
}

#saiba-mais a:hover {
    color: #000;
}


/* ----- */

.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    background: rgb(61, 61, 61);
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.footer p {
    padding-top: 80px;
}

@media all and (max-width:600px) {
    .videos,
    .audios {
        display: block;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
    .post {
        display: block;
        width: 100%;
        padding: 15px;
        margin: 15px;
    }
    .profile img {
        display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 50%;
    }
}