/* LAYOUT */

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f3f5f9;
    text-align: center;
    font: 300 20px/1.7 'Josefin Sans';
}

figure {
    padding: 10px;
}

p {
    margin-bottom: 2em;
}

.wrapper {
    width: 80%;
    margin: 0 10%;
}

.container {
    margin: 5px;
    margin-bottom: 20px;
}

.title {
    display: block;
    margin-bottom: 40px;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.line {
    margin-bottom: 1em;
}


/*----*/


/* Navbar*/

.navbar {
    display: flex;
    align-items: center;
    align-content: space-between;
}


/* ---- */


/* slider */

.slider {
    width: 75%;
    margin: auto;
    padding-bottom: .3em;
    overflow: hidden;
}

.list-items {
    display: flex;
    width: 300%;
    padding: .2em 0;
    animation: slider 20s infinite alternate cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.list-items:hover {
    cursor: pointer;
    animation-play-state: paused;
}

.list-items li {
    width: auto;
}

@keyframes slider {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}

#sobre {
    height: 100vh;
}

.profile {
    display: flex;
    align-content: space-between;
}

.card {
    width: 10em;
    height: 20em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: .2em .5em;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: 0 .9em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
}

.card-container {
    padding: 2px 16px;
    font-size: 0.8em;
}


/* ----- */

.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    background: #000;
    text-align: center;
    font-size: 20px;
}